openapi: 3.0.3
info:
  title: API Spotify - Trabalho de Testes
  version: 1.1.0
  description: Documentação da API baseada nos cenários de teste Gherkin dos 5 integrantes.
servers:
  - url: https://api.spotify.com/v1
    description: Servidor Principal da API
  - url: https://accounts.spotify.com
    description: Servidor de Autenticação

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

tags:
  - name: Autenticação
  - name: Carlos Eduardo
  - name: Evellyn Oliveira
  - name: Marcelo Carvalho
  - name: Stefany
  - name: Victor Vahid

paths:
  # --------------------------------------------------------------------------------
  # ROTA DE AUTENTICAÇÃO
  # --------------------------------------------------------------------------------
  /api/token:
    post:
      tags: [Autenticação]
      summary: Gerar Token de Acesso
      description: Endpoint exclusivo para gerar o token Bearer.
      servers:
        - url: https://accounts.spotify.com
          description: Servidor de Autenticação
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  default: client_credentials
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Sucesso (Copie o access_token da resposta)

  # --------------------------------------------------------------------------------
  # ENDPOINTS MAPEADOS
  # --------------------------------------------------------------------------------

  /albums:
    get:
      tags: [Carlos Eduardo]
      summary: Listar vários álbuns (Batch)
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          example: "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo"
      responses:
        '200':
          description: Sucesso

  /albums/{id}:
    get:
      tags: [Carlos Eduardo, Marcelo Carvalho]
      summary: Buscar álbum por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 5pSk3c3wVwnb2arb6ohCPU
      responses:
        '200':
          description: Sucesso
        '404':
          description: Não Encontrado

  /albums/{id}/tracks:
    get:
      tags: [Carlos Eduardo]
      summary: Listar músicas do álbum
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 78sQV6OtO1w4eri7CNLzkt
      responses:
        '200':
          description: Sucesso

  /artists:
    get:
      tags: [Stefany]
      summary: Buscar Vários Artistas (Batch)
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          example: "4gzpq5DPGxESKxvKamJMIq,3Nrfpe0tUJi4Q4DXYqBpF3"
      responses:
        '200':
          description: Sucesso

  /artists/{id}:
    get:
      tags: [Victor Vahid]
      summary: Buscar Artista
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 4aawyAB9vmqN3uQ7FjRGXX
      responses:
        '200':
          description: Sucesso
        '404':
          description: Não Encontrado

  /artists/{id}/albums:
    get:
      tags: [Victor Vahid]
      summary: Buscar Álbuns de Artista
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 0oSGxfWSnnOXhD2fKuz2Gy
        - name: include_groups
          in: query
          schema:
            type: string
          example: album
      responses:
        '200':
          description: Sucesso

  /artists/{id}/top-tracks:
    get:
      tags: [Marcelo Carvalho]
      summary: Top Músicas do Artista
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 6eUKZXaKkcviH0Ku9w2n3V
        - name: market
          in: query
          required: true
          schema:
            type: string
          example: US
      responses:
        '200':
          description: Sucesso

  /audiobooks/{id}:
    get:
      tags: [Stefany]
      summary: Buscar Audiobook
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 7iHfbu1YPACw6oZPAFJtqe
        - name: market
          in: query
          schema:
            type: string
          example: US
      responses:
        '200':
          description: Sucesso

  /audiobooks/{id}/chapters:
    get:
      tags: [Evellyn Oliveira, Stefany]
      summary: Capítulos de Audiobook
      description: Endpoint utilizado por Evellyn e Stefany (Cenário 6 da Stefany).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 7iHfbu1YPACw6oZPAFJtqe
      responses:
        '200':
          description: Sucesso

  /browse/categories:
    get:
      tags: [Evellyn Oliveira]
      summary: Listar Todas as Categorias
      parameters:
        - name: country
          in: query
          schema:
            type: string
          example: US
      responses:
        '200':
          description: Sucesso

  /browse/categories/{id}:
    get:
      tags: [Stefany, Marcelo Carvalho]
      summary: Detalhes da Categoria
      description: Endpoint utilizado por Stefany (Party) e Marcelo (Rock).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: party
      responses:
        '200':
          description: Sucesso

  /browse/new-releases:
    get:
      tags: [Victor Vahid]
      summary: Novos Lançamentos
      parameters:
        - name: country
          in: query
          schema:
            type: string
          example: BR
      responses:
        '200':
          description: Sucesso

  /episodes/{id}:
    get:
      tags: [Evellyn Oliveira]
      summary: Detalhes do Episódio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 7bdLNlAk7PeHO7Dt1nXTW3
      responses:
        '200':
          description: Sucesso

  /markets:
    get:
      tags: [Stefany]
      summary: Mercados Disponíveis
      responses:
        '200':
          description: Sucesso

  /playlists/{playlist_id}:
    get:
      tags: [Carlos Eduardo, Marcelo Carvalho]
      summary: Buscar playlist por ID
      parameters:
        - name: playlist_id
          in: path
          required: true
          schema:
            type: string
          example: 3cEYpjA9oz9GiPac4AsH4n
      responses:
        '200':
          description: Sucesso
        '404':
          description: Não Encontrado

  /playlists/{playlist_id}/tracks:
    get:
      tags: [Carlos Eduardo]
      summary: Itens da Playlist
      parameters:
        - name: playlist_id
          in: path
          required: true
          schema:
            type: string
          example: 4WDx8GQVfJL1sV3fEYUQwZ
      responses:
        '200':
          description: Sucesso

  /search:
    get:
      tags: [Evellyn Oliveira, Victor Vahid]
      summary: Busca (Search)
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: Imagine
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [artist, track, show]
          description: Tipo de item (artist, track, show)
          example: track
        - name: include_external
          in: query
          schema:
            type: string
          example: audio
      responses:
        '200':
          description: Resultados da busca

  /shows/{id}:
    get:
      tags: [Victor Vahid]
      summary: Buscar Show/Podcast
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 1GLSDdk9CDEwziGNIlnb8a
      responses:
        '200':
          description: Sucesso

  /shows/{id}/episodes:
    get:
      tags: [Carlos Eduardo]
      summary: Listar episódios de um show
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 3V5LBozjo4vNg2oJoA4Wb2
        - name: limit
          in: query
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Sucesso

  /tracks:
    get:
      tags: [Marcelo Carvalho]
      summary: Buscar várias faixas (Batch)
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          example: "7qiZfU4dY1lWllzX7mPBI3,0VjIjW4GlUZAMYd2vXMi3b"
      responses:
        '200':
          description: Sucesso

  /tracks/{id}:
    get:
      tags: [Victor Vahid]
      summary: Buscar Faixa
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 3z8h0TU7ReDPLIbEnYhWZb
      responses:
        '200':
          description: Sucesso

  /users/{user_id}:
    get:
      tags: [Stefany]
      summary: Perfil de Usuário
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          example: spotify
      responses:
        '200':
          description: Sucesso

  /users/{user_id}/playlists:
    get:
      tags: [Evellyn Oliveira]
      summary: Playlists de um Usuário
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          example: kmd6hxe6t0u7cpr9bwydco63h
      responses:
        '200':
          description: Sucesso